Languages/C/.*
Languages/Go/todo/.idea/
Languages/Go/todo/qodana.yaml
Languages/Go/qodana.yaml
Languages/Go/.idea/
Languages/Go/pkg/
Languages/Go/pkg/mod
Languages/Go/src/04.todo/week*
Languages/Go/bin/
Languages/.idea/
**/*.env
